.app-container h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
  padding: 5rem;
  line-height: 1.5;
  transition: 0.2s;
}

@media only screen and (max-width: 860px) {
  .app-container h3 {
    font-size: 2rem;
    padding-top: 2rem;
    line-height: 1.5;
    transition: 0.2s;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 604px) {
  .app-container h3 {
    font-size: 1.5rem;
    padding-top: 3rem;
    line-height: 1.5;
    transition: 0.2s;
    margin-bottom: 0;
  }
}
