nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.25rem;
}

nav li {
    margin: 0.5rem;
}

a {
    display: inline-block;
    width: 10rem;
    text-align: center;
    list-style: none;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 1px;
    padding: 0.8rem;
    transition: 0.5s;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

a:hover {
    transition: 0.5rem;
    color: white;
    background-color: blue;
    box-shadow: 8px 8px rgb(201, 44, 109);
    transform: translateY(-0.15rem);
    font-weight: 700;
}