@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root {
  color: white;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.app-container {
  background-image: url('./../public/workout.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.app-container h5 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.app-container h6 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.app-container h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
  padding: 5rem;
  line-height: 1.5;
}

@media only screen and (max-width: 604px) {
  .app-container h5 {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-container h6 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
